.panda-bg-info{
    background-color: #fceae8;
}
.panda-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    text-decoration: none;
    color: azure;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.category-watch{
    background-color: #ffc121;
    border-radius: 15px;
    text-shadow:1px 4px 2px rgba(39, 39, 39, 0.555);
}
.category-shoe{
    background-color: #ff2077;
    border-radius: 15px;
    text-shadow:1px 4px 2px rgba(39, 39, 39, 0.555);
}
.category-bag{
    background-color: #ffc121;
    border-radius: 15px;
    text-shadow:1px 4px 2px rgba(39, 39, 39, 0.555);
}
.category img{
    width: 100px;
}